/* CSS for the grid container and cards */
@media (min-width: 1025px) {
    body{
        overflow: hidden;
    }
    .container{
        display: flex;
        justify-content: center;
        font-family: monospace;

    }
    .main{
        height: 100vh;
        width: 100%;
        display: flex;
        background-color: (240, 243, 249);
        overflow: hidden;
    }
    .content{
        width: 60%;
        overflow-y: scroll;
        position: relative;
        background-color: rgb(240, 243, 249);
    }
    .content::-webkit-scrollbar {
        display: none;
    }
    .top-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 16em;
        position: sticky; /* Make the search bar sticky */
        top: 0; /* Stick to the top */
        z-index: 10; /* Ensure it stays above other content */
        gap: 1em;
    }
    .search-bar{
        background-color: white;
        width: 80%;
        height: 3em;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19);
        border: solid 3px rgba(92, 89, 89, 0.8);
    }
    .search-bar input{
        padding: 1em;
        font-size: 1em;
        outline: none;
        border: none;
        width: 100%;
    }


    .search-select {
        width: 80%;
        display: flex;

    }
    #search-attributes{
        background-color: white;
        border-radius: 1em;
        display: flex;
        background-color: rgba(163, 158, 158, 0.8);

    }
    .search-select .poke-types{
        text-align: center;
        width: 5em;
        height: 2.5em;
        border-radius: 10px;
        border: solid 3px rgba(92, 89, 89, 0.8);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    }

    
    .poke-types-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5em;
    }

    .remove-type {
        display: none;
      }
  
    .poke-types-icon:hover .remove-type {
        display: block;
        position: absolute; /* or inline, flex, etc., depending on your needs */
        transform: translateY(2px);
    }
    .poke-types-icon:hover{
        opacity: 0.8;
        cursor: pointer;
    }

    .pokedex-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* min-height: 100vh; */
    }
    
    .pokemon-card {
        position: relative;
        flex: 1 1 30%; 
        max-width: 25%; /* Ensures cards do not stretch too wide */
        height: 15em;
        margin: 1.2em;
        border-radius: 0.5em;
        transition: transform 0.3s ease-in-out;
        background-color: rgb(255, 255, 255);
    }

    .pokemon-image-wrapper {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .pokemon-image {
        image-rendering: pixelated;
        transform: scale(1.6)
    }

    .pokemon-image-big{
        image-rendering: pixelated;
        transform: scale(2.5)
    }

    .pokemon-name {
        font-family: monospace;
        display: block;
        font-size: 16px;
        font-weight: bold;
        position: absolute; /* Position the name absolutely */
        bottom: 0.5em; /* Align to the bottom */
        left: 0.5em; /* Align to the left */
    }

    .pokemon-id{
        font-size: 35px;
        opacity: 0.2;
    }

    .icon{
        display: block;
        font-weight: bold;
        position: absolute; /* Position the name absolutely */
        bottom: 0.4em; /* Align to the bottom */
        right: 0.5em; /* Align to the left */
        
    }

    .left-bar{
        width: 15%;
        background-color: rgb(255, 255, 255);
    }

    .logo{
        font-size: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        margin-top:3em;
    }




    .pokemon-card:hover{
        box-shadow: 5px 5px 5px grey;
        transform: translateY(-1em);
    }

    @keyframes moveUp {
        from {
            top: 0px;
        }
        to {
            top: 100px;
        }
    }

    .right-bar{
        width: 25%;
        background-color:  rgb(255, 255, 255);
        display: flex;
        align-items: center;

    }

    .poke-info{
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
    }

    .stats-container {
        margin-top: 2em;
        background-color: #f3f0f0;
        width: 85%;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 0.8em;
        padding: 0.5em;
    }
    .stats-container h3{
        margin: 0;
    }

    .stats-container .stats-heading{
        gap: 0.6em;
        padding: 0.6em;
    }

    .stat {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
    }
    
    .stat-name {
        width: 4em;
        font-weight: bold;
        text-align: center;
    }
    
    .stat-bar-container {
        flex-grow: 1;
        background-color: #e0e0e0;
        border-radius: 5px;
        overflow: hidden;
        height: 10px;
        width: 10px;
    }
    
    .stat-bar {
        height: 100%;
    }
    
    .stat-value {
        width: 40px;
        text-align: center;
    }

    .stats-heading{
        display: flex;
    }
    .info-name{
        margin-top: 1em;
        text-align: center;
        font-size: 4em;
        font-family: monospace;
        font-weight: bold;
    }
    .info-image-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%; 
    }

    .info-types {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        gap: 1em;
    }
    .info-types img{
        width: 3em;   
        height: 3em;
    }

    .info-name .id{
        font-size: 0.5em;
    }

    .info-abilities {
        width: 90%;
        text-align: center;
    }   
    .info-abilities div{
        display: inline-block;
        width:25%;
        padding: 0.8em;
        margin: 0 0.5em;
        border-radius: 11px;
        background: green;
    }
}

