/* CSS for the grid container and cards */
@media (min-width: 1025px) {
    .container{
        display: flex;
        justify-content: center;
        background-color: black;
        font-family: monospace;
    }
    .main{
        height: 100vh;
        width: 90%;
        display: flex;
        background-color: gray;
        overflow: hidden;
    }
    .content{
        width: 55%;
        overflow-y: scroll;
        position: relative;
    }
    .content::-webkit-scrollbar {
        display: none;
    }
    .search-bar {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4em;
        position: sticky; /* Make the search bar sticky */
        top: 0; /* Stick to the top */
        z-index: 10; /* Ensure it stays above other content */
    }
    .search-bar input{
        height: 1em;
    }

    .pokedex-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
    }
    
    .pokemon-card {
        position: relative;
        width: 25%;
        height: 15em;
        margin: 1.2em;
        border-radius: 0.5em;
    }

    .pokemon-image-wrapper {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .pokemon-image {
        image-rendering: pixelated;
        transform: scale(1.6)
    }

    .pokemon-name {
        font-family: monospace;
        display: block;
        font-size: 16px;
        font-weight: bold;
        position: absolute; /* Position the name absolutely */
        bottom: 0.5em; /* Align to the bottom */
        left: 0.5em; /* Align to the left */
    }

    .pokemon-id{
        font-size: 35px;
        opacity: 0.2;
    }

    .icon{
        display: block;
        font-weight: bold;
        position: absolute; /* Position the name absolutely */
        bottom: 0.4em; /* Align to the bottom */
        right: 0.5em; /* Align to the left */
    }

    .left-bar{
        width: 17%;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .logo{
        font-size: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        margin-top:3em;
    }
}

